<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <ul class="list" ng-repeat="task in tasks">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="checkbox">
              </label>
              Flux Capacitor1
          </li>
      </ul>
    <!--<ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="task in tasks" type="item-text-wrap">
            <img ng-src="{{chat.face}}">
            <h2>{{chat.name}}</h2>
            <p>{{chat.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(chat)">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-list>-->
          <!--First attempt-->
          <!--<ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Flux Capacitor1
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Flux Capacitor2
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Flux Capacitor0
            </li>
            <li class="item item-toggle">
                HTML5
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>-->
          <!--Default-->
          <!--<div class="list card">
          <div class="item item-divider">Recent Updates</div>
          <div class="item item-body">
            <div>
              There is a fire in <b>sector 3</b>
            </div>
          </div>
        </div>
        <div class="list card">
          <div class="item item-divider">Health</div>
          <div class="item item-body">
            <div>
              You ate an apple today!
            </div>
          </div>
        </div>
        <div class="list card">
          <div class="item item-divider">Upcoming</div>
          <div class="item item-body">
            <div>
              You have <b>29</b> meetings on your calendar tomorrow.
            </div>
          </div>
        </div>-->
</ion-content>
</ion-view>
