<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="Tasks" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Checker" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/check">
        <ion-nav-view name="tab-check"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>